.company-filter {
	.company-text {
		margin-bottom: 0.5rem;
	}

	.select-box {
		.filter-companies {
			width: 6rem;
			height: 1.5rem;

			.options {
				background: #fff;
				margin-bottom: 1rem;
			}

		}
	}
}