.feature-section {
	padding-bottom: 6rem;
	background-color: rgb(240, 238, 238);

	.feature-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		#feature-text {
			text-transform: capitalize;
			padding: 3rem 0;

			p {
				font-size: 1rem;

			}

			h3 {
				font-size: 2.5rem;
			}

		}

		.feature-product-container {
			display: flex;
			justify-content: space-around;
			gap: 2rem;
			padding: 0.8rem;
			background-color: rgb(255, 255, 255);
		}
	}
}