.container {
	padding-top: 4rem;
	height: 75vh;
	// background-color: green;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	._404 {
		font-size: 20rem;
		display: inline-block;
		margin: 0;

		background-image: url(https://images.unsplash.com/photo-1660752484961-5e34b5ee0a56?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGVycm9yJTIwcGFnZSUyMDQwNHxlbnwwfHwwfHx8MA%3D%3D);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}

	.text {
		color: #000;
		font-size: 2rem;
		color: orange;
	}

}